<section class="pt-5">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
       <div class="container">
           <div class="row">
             <div class="col-md-6">
                  <img class="img-fluid" src="https://images.unsplash.com/photo-1494256997604-768d1f608cac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=801&q=80" alt="">
             </div>
             <div class="col-md-6 pl-5 mt-5">
                 <div>
                 <h3>Oops! Something went wrong, or the page you are looking for is not available.</h3>
                 <p><a href="/">Go to home!</a></p>
                 </div>
             </div>
           </div>
       </div>
      </div>
      <div class="col-2"></div>
    </div>
    </section>