<section class="pt-5">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
       <div class="container">
           <div class="row">
             <div class="col-md-6">
                  <img class="img-fluid" src="https://images.unsplash.com/photo-1589987411282-e1b55fef1791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
             </div>
             <div class="col-md-6 pl-5 mt-5">
                 <div>
                     <h2 class="text-muted">Welcome!</h2>
                     <p class="text-muted">Please check out all the cool new courses by our innovative and creative chefs.</p>
                     <p class="text-muted">If you want to see a new course, click the courses page and explore.</p>
                     <p class="text-muted">When you see a course you like, you can contact us to join! Soon you will be cooking in your own home.</p>
                 </div>
             </div>
           </div>
       </div>
      </div>
      <div class="col-2"></div>
    </div>
    </section>
    <section>
        <footer class="footer mt-auto py-3 text-center">
            <div class="footer-container ">
              <span class="text-muted fixed-bottom">©2020 Makini Makini</span>
            </div>
          </footer>
      </section>